<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEIRDOS</title>
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.jpg' %}">
</head>
<body>
    <div class="navbar">
        <a href="#" class="logo">WEIRDOS</a>
        <form method="get" action="{% url 'product_list' %}" class="search-bar">
            <input type="text" name="q" placeholder="Search products...">
            <button type="submit" class="search-btn"><i class="fa fa-search"></i> Search</button>
        </form>
        <ul class="nav">
             <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'product_list' %}" class="active">Products</a></li>
            <li>
            {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}?next={{ request.path }}" style="display: inline;">
    {% csrf_token %}
    <button type="submit" style="background: none; border: none; color: inherit; cursor: pointer; font: inherit;">LOG OUT</button>
</form>
            {% else %}
            <a href="{% url 'login' %}?next={{ request.path }}">Log In</a>
            {% endif %}
        </li>
        </ul>
    </div>

    <div class="checkout-container">
        <div class="checkout-content">
            <h1 style="color: #ff9900; text-align: center; margin-bottom: 20px;">Checkout</h1>
            <div class="confirmation-box">
                <p style="text-align: center; margin-bottom: 20px; font-size: 24px;">Total Price: P{{ total_price }}</p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="confirm-button">Confirm Order</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
